DJANGO_SECRET_KEY=change-me-with-a-very-long-random-secret-key
ALLOWED_HOSTS=octahub.fr,www.octahub.fr
CSRF_TRUSTED_ORIGINS=https://octahub.fr,https://www.octahub.fr

DB_NAME=octahub
DB_USER=octahub_user
DB_PASSWORD=change-db-password
DB_ROOT_PASSWORD=change-root-password

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@octahub.fr
DJANGO_SUPERUSER_PASSWORD=change-admin-password

GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=120
SECURE_HSTS_SECONDS=31536000
